body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
font-family: 'Titillium Web', sans-serif;
}
